{% extends "base.html" %}


{% block header %}
{% endblock header %}



{% block content %}

   <div id="content" align="center"> 


<div class="disp_flex" >

    {% if event_list %}   <!--проверка не пустой ли список -->

      {% for event in event_list %}

  <div class="box_inline">

<a href="{{ event.get_absolute_url }}">
  <div align="center">


  <div class="box">

    {% if event.photo %}   <!--проверка есть ли фото -->
    <img src="static{{ event.photo_url }}" height=400 >


    {% else %}     <!-- можно использовать elif var2 -->

    <img src="static/css/no_img.jpg" height=400>

    {% endif %} 
</div>   <!--div class="box"-->


  <br>  <b>{{ event.head }}</b> 

</div>   <!--div align="center"-->
</a>

  <div align="justify">
{{ event.main_text|linebreaks }} 



  </div>   <!--div align="justify"-->

  </div>   <!--div class="box_inline"-->

  &nbsp

      {% endfor %}

    {% else %}     <!-- можно использовать elif var2 -->
      <p>Нет событий</p>
    {% endif %} 



</div>   <!--div class="disp_flex" -->

</div>    <!--div id="content" align="center"--> 


{% endblock content %}



